body {
    background-color: rgb(76, 94, 133);

    padding: 0px;
}

nav {
    background-color: rgb(166, 183, 237);

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    position: relative;
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 100px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    max-width: 800px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    background-color: white;
    font-size: 50px;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kenntnisse-container {
    background-color: rgb(166, 183, 237);

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    position: static;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.kenntnisse-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

footer {
    background-color: rgb(166, 183, 237);

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    position: static;
    height: 100px;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}